---
import Container from '@globals/Container.astro';
import Title from '@atoms/Title.astro';
import CardResume from '@molecules/CardResume.astro';
import CardSkills from '@molecules/CardSkills.astro';
import Button from '@atoms/Button.astro';
import type {IHomeResume,IResume,ISkills} from '@interface/home'

interface Props {
	homeResume : IHomeResume;
	studies: IResume[]
	experience: IResume[]
	skills:ISkills[]
}

const {homeResume,studies,experience,skills}=Astro.props as Props

---

<Container class='Resume' id='resume'>
	<Title className='col-span-2' title={homeResume.title} subtitle={homeResume.subtitle} />
	<section class='Resume-details'>
		<div class='Resume-Estudios'>
			<h2>Mis Estudios</h2>
			{
				studies.map(({rangoYear,title,subtitle,text}) => (
					<CardResume
						rangoYear={rangoYear}
						title={title}
						subtitle={subtitle}
						text={text}
					/>
				))
			}
		</div>
		<div class='Resume-Experience'>
			<h2>Mi Experiencia</h2>
			{
				experience.map((props) => (
					<CardResume {...props}
					/>
				))
			}
		</div>
	</section>

	<section class='Content__Skills'>
		<h2>Mis Skills</h2>
		{skills.map((props) => <CardSkills {...props} />)}
	</section>

	<Button class='mx-auto flex text-[1.6rem] gap-3'>
		Descargar CV<i class='bi bi-download'/></Button
	>
</Container>
<style>
	.Resume {
		@apply h-fit;
	}
	.Resume-details {
		@apply grid  gap-x-[10%];
	}

	.Resume-Estudios {
		width: 100%;
		max-width: 480px;
		margin-bottom: 7%;
		@apply ml-auto;
		h2 {
			@apply text-[2.4rem] font-semibold;
		}
	}
	.Resume-Experience {
		width: 100%;
		max-width: 480px;
		margin-bottom: 7%;
		@apply mr-auto;
		h2 {
			@apply text-[2.4rem] font-semibold;
		}
	}
	.Content__Skills {
		width: 90%;
		margin: 5% auto;
		@apply h-[110rem] flex flex-col gap-[3rem];
		h2 {
			@apply text-[2.4rem] font-semibold col-span-2;
		}
	}

	@screen tablet {
		.Resume-details {
			@apply grid-cols-2;
		}
		.Content__Skills {
			@apply grid grid-cols-2 gap-x-[8rem] h-[60rem];
		}
	}
</style>
