---
import Container from '@globals/Container.astro';
import Title from '@atoms/Title.astro';
import CardEspecial from '@molecules/CardEspecial.astro';
import type {IHomeSpecialities,IEspecialities} from '@interface/home'

interface Props {
	Especialities: IEspecialities[];
	HomeSpecialities: IHomeSpecialities;
}

const { Especialities, HomeSpecialities } = Astro.props as Props;

---

<Container>
	<Title title={HomeSpecialities.title} subtitle={HomeSpecialities.subtitle} />

	<div class='grid tablet:grid-cols-2 laptop:grid-cols-3'>
		{
			Especialities.map(({title,text,icon}) => (
				<CardEspecial
					title={title}
					text={text}
                    icon={icon}
				/>
			))
		}
	</div>
</Container>
