---
import Title from '@atoms/Title.astro';
import Button from '@atoms/Button.astro';
import Container from '@globals/Container.astro';
import Characteristics from '@components/molecules/Characteristics';
import type { IHomeAbout } from '@interface/home';
import { calcularEdad } from '../../lib/utils';
import { getGenerals } from '../../lib/getGenerals';

const { title, subtitle, text } = Astro.props as IHomeAbout;

const { infogeneral } =getGenerals();

---

<Container class='HomeAbout' id='about'>
	<Title title={title} subtitle={subtitle} />
	<article class='article' set:html={text} />
	<div class='content-data'>
		<div class='info'>
			<p><strong>Nombre:</strong> {infogeneral.name}</p>
			<p>
				<strong>Email:</strong>
				<a target='_blank' href={`mailto:${infogeneral.email}`}
					>{infogeneral.email}</a
				>
			</p>
			<p>
				<strong>Celular:</strong>
				<a href=`tel:${infogeneral.phone}`>{infogeneral.phone}</a>
			</p>
			<p><strong>Edad:</strong> {calcularEdad(infogeneral.both_year)}</p>
			<p><strong>Ciudad:</strong> {infogeneral.city}</p>
		</div>

		<Button>Descargar CV</Button>
	</div>

	<Characteristics client:load  />
</Container>

<style>
	.HomeAbout {
		.article {
			@apply text-center flex flex-col gap-5;

			h4 {
				@apply text-[2.8rem] max-w-[50rem] mx-auto font-[600];
				span {
					@apply text-tertiary;
				}
			}
			
		}
		.content-data {
			@apply my-[2rem] flex flex-col gap-8 items-start w-[100%];
			.info {
				@apply flex flex-col gap-5 w-full;
				p {
					@apply border-gris-300/30 border-b-[0.1rem] pb-4;
				}
				a {
				@apply text-green-600 font-normal;
			}
			}
		}
	}
	@screen tablet {
		.HomeAbout {
			.article {
				@apply w-[85%] mx-auto;
			}
			.content-data {
				@apply items-center w-[60%] mx-auto;
			}
		}
	}

	@screen laptop {
		.HomeAbout {
			@apply flex flex-row flex-wrap justify-center gap-[10%];
			.article {
				@apply w-[40%] mx-0;
				h4 {
					@apply text-left mx-0;
				}
				p {
					@apply text-start;
				}
			}
			.content-data {
				@apply w-[35%] mx-0;
			}
		}
	}
</style>
